*, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 font-size: 18px;
	 line-height: 1.5;
	 font-weight: 300;
	 color: #333;
	 font-family: "Nunito Sans", sans-serif;
}
 body {
	 margin: 0;
	 padding: 0;
	 height: 100vh;
	 background-color: #000;
	 background-attachment: fixed;
}
.large {
     font-size: 3rem;
     position: absolute;
}
 .content {
	 display: flex;
	 margin: 0 auto;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 max-width: 1500px;
}
 p.overview {
	 font-size: 12px;
	 height: 200px;
	 width: 100%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}

.top-bar {
    position: relative;
    align-items: center; /* Vertically centers content */
    justify-content: flex-start;
    width: 100%;
    height: 40%;
    padding: 5px;
    border: 3px solid;
    background: #000;
    background-image: url("/image/cover.jpg");
    background-size: cover; /* Adjust how the image covers the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Position the image at the center of the div */

}

.top-bar-text {
    background-color: rgba(0,0,0, 0.35); !important
    color: #000;
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateY( 10%, -50%);
    padding-left: 10px;
    padding-right: 10px;
}

.top-bar-info {
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}

.cover {
    height: 25%;
}

 .heading {
	 width: 100%;
	 margin-left: 1rem;
	 font-weight: 900;
	 font-size: 1.618rem;
	 text-transform: uppercase;
	 letter-spacing: 0.1ch;
	 line-height: 1;
	 padding-bottom: 0.5em;
	 margin-bottom: 1rem;
	 position: relative;
}
 .heading:after {
	 display: block;
	 content: '';
	 position: absolute;
	 width: 60px;
	 height: 4px;
	 background: linear-gradient(135deg, #1a9be6, #1a57e6);
	 bottom: 0;
}
 .description {
	 width: 100%;
	 margin-top: 0;
	 margin-left: 1rem;
	 margin-bottom: 3rem;
}
 .card {
	color: inherit;
	cursor: pointer;
    position: absolute-center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin; 0px;
	position: absolute;
	align-items: center;
    justify-content: center;

}

.text {
    color: white;
    font-family: Monique Script;
}

#title {
    font: 60px Monique Script;
    margin: 5px;
}

#functions {
    margin: 0;
}

#intro {
    left: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.item {
    margin: 0;
    padding: 5px;
}

.intro_container {
    margin-top: 40px;
    margin-left: 30%;
    width: 40%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower_info {
    margin: 0;
}

.lowest {
    margin-top: 40px;
    text-align: center;
    max-width: 40%;
    position: absolute;
    left: 40%;
}

.block {
    padding-top: 142%; /* 4/3 aspect ratio (4 / 3 * 100) */
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}

.content {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.content a {
    background: #000;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.column {
  display: grid;
  background: #000;

}



a {
    background: #000;
    text-decoration: none;
    cursor: pointer;
    display: block; /* Display as a block-level element */
    width: 100%; /* Take the full width of the column */
}

a img  {
    background: #000;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;

}

img {
    background: #000;
}

.row {
    width: 100%;
    display: absolute;
    align-items: center;
    justify-content: center;


}

.col-md-6 {
    margin: 1%;
    max-width: 25%%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(3/4 * 100%);
}

.col-6 d-flex justify-content-center align-items-center {
    max-width: 100%; /* Prevent images from exceeding their original size */
    height: auto;
}

 .card1 {
	color: inherit;
	cursor: pointer;
    position: absolute-center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin; 0px;
	position: relative;

    transform: translateX(50%);
	align-items: center;
    justify-content: center;
    padding-bottom: calc(4/3 * 100%);
}


 @media screen and (max-width: 800px) {
	 .card {
		 width: calc(50% - 3rem);
	}
}
 @media screen and (max-width: 500px) {
	 .card {
		 width: 100%;

	}
}
 .front, .back {
	 display: flex;
	 border-radius: 6px;
	 background-position: center;
	 background-size: cover;
	 text-align: center;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 transform-style: preserve-3d;
	 transition: ease-in-out 600ms;
}
 .front {
	 background-size: cover;
	 padding: 2rem;
	 font-size: 1.618rem;
	 font-weight: 600;
	 color: #fff;
	 overflow: hidden;
	 font-family: Poppins, sans-serif;

}
 .front:before {
	 position: absolute;
	 display: block;
	 content: '';
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: linear-gradient(135deg, #1a9be6, #1a57e6);
	 opacity: 0.25;
	 z-index: -1;
}
 .card:hover .front {
	 transform: rotateY(180deg);
}
 .card:nth-child(even):hover .front {
	 transform: rotateY(-180deg);
}
 .back {
	 background: #fff;
	 transform: rotateY(-180deg);
	 padding: 0 2em;
}
 .card:hover .back {
	 transform: rotateY(0deg);
}
 .card:nth-child(even) .back {
	 transform: rotateY(180deg);
}
 .card:nth-child(even):hover .back {
	 transform: rotateY(0deg);
}
 .button {
	 transform: translateZ(40px);
	 cursor: pointer;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 font-weight: bold;
	 color: #fff;
	 padding: 0.5em 1em;
	 border-radius: 100px;
	 font: inherit;
	 background: linear-gradient(135deg, #1a9be6, #1a57e6);
	 border: none;
	 position: relative;
	 transform-style: preserve-3d;
	 transition: 300ms ease;
}
 .button:before {
	 transition: 300ms ease;
	 position: absolute;
	 display: block;
	 content: '';
	 transform: translateZ(-40px);
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 height: calc(100% - 20px);
	 width: calc(100% - 20px);
	 border-radius: 100px;
	 left: 10px;
	 top: 16px;
	 box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
	 background-color: rgba(26, 87, 230, 0.25);
}

.button.delete-button {
	 background-color: rgba(230, 87, 230, 0.25);
	 background: linear-gradient(135deg, #e61a46, #e61a1a);
}
.button.delete-button:before {
	 background-color: rgba(230, 87, 230, 0.25);
	 box-shadow: 0 0 10px 10px rgba(230, 87, 230, 0.25);
}
 .button:hover {
	 transform: translateZ(55px);
}
 .button:hover:before {
	 transform: translateZ(-55px);
}
 .button:active {
	 transform: translateZ(20px);
}
 .button:active:before {
	 transform: translateZ(-20px);
	 top: 12px;
	 top: 12px;
}
.container.add {
    margin-top: 40px;
    margin-bottom: 20px;
}
.rating {
    color: #E4BB23;
}
.review {
    font-style: italic;
}
 .movie_gens {
	 font-size: 11.5px;
}
 .title {
	 font-weight: bold;
}
 .release_date {
	 font-weight: normal;
}

.container {
    padding: 0px 0px 0px 0px
}

.align-middle {
  vertical-align: middle !important;
  height: 25%;
}