{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Mithras Cabolet{% endblock %}

{% block content %}

<div class="top-bar">
    <div class="top-bar-text">
        <h1 class="top-bar-title">MPC-Sound</h1>
        <h3 class="top-bar-service">Sounddesign | Setgeluid | Soundapparatuur</h3>
        <h3 class="top-bar-contact">mithras@cabolet.com | +31614981954</h3>
    </div>
</div>

 {% for i in range(num_rows) %}
    <div class="grid-container">
        <div class="column column-{{ i }}" style="grid-template-columns: repeat({{ num_columns }}, 1fr);">
            <!-- Original set of blocks -->
            {% for project in projects[i] %}
                <div class="block-{{ i }}">
                    <div class="content">
                        <a href="{{ project[-1] }}">
                            <img src="{{ url_for('image_route', ident=project[0]) }}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}

            <!-- Duplicated set of blocks for seamless looping -->
            {% for project in projects[i] %}
                <div class="block-{{ i }}">
                    <div class="content">
                        <a href="{{ project[-1] }}">
                            <img src="{{ url_for('image_route', ident=project[0]) }}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}



<div class="intro_container">
    <article class="text" id="intro">
        <h1 class="item"></h1>
            <p class="text-intro">
                Mijn naam is Mithras Cabolet en ik ben een ervaren Production Sound Mixer en Boom Operator, gevestigd in
                Den Haag. Na mijn afstuderen aan de Nederlandse Filmacademie heb ik de afgelopen jaren mijn passie voor
                geluid verder ontwikkeld en verfijnd. Door mijn brede ervaring in het vak ben ik betrokken geweest bij een
                groot aantal projecten, waaronder films, documentaires, commercials, en corporate shoots.
            </p>
            <p class="text-intro">
                Met een scherp oor voor detail en een diep begrip van de technische en creatieve aspecten van geluidsopname,
                zorg ik ervoor dat elk project een professioneel en helder geluidsbeeld krijgt. Van de subtiele nuances in
                dialogen tot de rijke soundscapes die een verhaal tot leven brengen, mijn doel is om een audio-ervaring te
                creëren die naadloos aansluit op de visie van de regisseur en de algehele productie.
            </p>
             <p class="text-intro">
               Op deze website vind je meer informatie over mijn werk, waaronder enkele van de projecten waar ik
                 verantwoordelijk ben geweest voor het geluid. Je kunt ook meer te weten komen over mijn diensten en hoe
                 ik je kan helpen met jouw volgende productie.
            </p>
            <p>
                Neem gerust contact met me op voor meer informatie, of om te bespreken hoe we kunnen samenwerken om het
                beste geluid te creëren voor jouw project.Neem gerust contact met me op voor meer informatie, of om te
                bespreken hoe we kunnen samenwerken om het beste geluid te creëren voor jouw project.
            </p>
        <div class="contact_info">
            <article>
                <p class="item_info">
                    mithrascabolet@gmail.com
                </p>
                <p class="item_info">
                    +31614981954
                </p>
                <p class="item_info" >
                    <a href="https://www.linkedin.com/in/mithras-cabolet/">LinkedIN</a>
                </p>
                <p class="item_info" >
                    <a href="https://www.imdb.com/name/nm9727227/?ref_=nv_sr_srsg_0_tt_0_nm_2_in_0_q_mithras%2520cabolet">
                        IMDB
                    </a>
                </p>
            </article>

            </div>
    </article>
</div>

<div class="lowest">
<!--    <h3 class="item" >mithrascabolet@gmail.com</h3>-->
<!--    <h3 class="item" id="lower_info">+31624386634</h3>-->
    <h5 class="item">Ⓒ 2018- 2023 MPC-sound</h5>
</div>


{% endblock %}